{% extends "pages/base.html" %}
{% load static %}

{% block title %}About — AIBoot Thailand{% endblock %}

{% block extra_css %}
<link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
<link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
<link href="{% static 'assets/css/main.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

{% endblock %}

{% block extra_js %}
<script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
<script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
<script src="{% static 'assets/js/main.js' %}"></script>
{% endblock %}
